ANTHROPIC_API_KEY=

# Bot token: choose your application > Bot > Reset Token, then copy the token.
# https://discord.com/developers/applications
DISCORD_BOT_TOKEN=

# Server (guild) ID: enable User Settings > Advanced > Developer Mode in Discord,
# then right-click the server icon > Copy Server ID.
# https://support.discord.com/hc/en-us/articles/206346498-Where-can-I-find-my-User-Server-Message-ID
DISCORD_GUILD_ID=
